<app-navbar></app-navbar>

<div class="h-100" style="margin: 50px;"> 
    <div class="card-body">
        <div class="body-item">
            <img class="item" src='../../assets/images/santorini.png' alt="Random image" style="width: 400px; height: 400px; ">
            <div class="item__h4">
                <h3>
                    Athens and Santorini Vacation Packages
                </h3>
                <p style="color:grey; font-size: large;">
                    Athens (3N) > Santorini (3N)
                </p>
                <div class="cards">
                    <p class="cards__item">Leisure</p>
                    <p class="cards__item">Attraction</p>
                </div>
                <ul style="margin-top: 15px; color: rgb(65, 64, 64); font-size: large;">
                    <li>Visit Plaka - oldest sections of Athens</li>
                    <li>Acropolis museum</li>
                    <li>Greek Wine and Tapas Tasting Experience in Athens</li>
                </ul>
            </div>
            <div class="item third-pane">
                <div class="item__h3">
                    <h6>
                        INCLUSIONS (CUSTOMISABLE)
                    </h6>
                    <ul>
                        <li>
                            <i class="bi bi-check" style="color:green;font-size: 20px;"></i>
                            Hotels</li>
                        <li>
                            <i class="bi bi-check" style="color:green;font-size: 20px;"></i>
                            8 activities</li>
                        <li>
                            <i class="bi bi-check" style="color:green;font-size: 20px;"></i>
                            Flights</li>
                        <li>
                            <i class="bi bi-check" style="color:green;font-size: 20px;"></i>
                            Transfers</li>
                    </ul>
                    <div class="bttm">
                        <h3 style="color: grey; font-weight: 700; font-size: medium;">Starts From</h3>
                        <i class="bi bi-currency-rupee" style="font-size: 20px;"></i>
                        <span style="font-size:20px;">98,468</span>
                        <span style="color: gray; font-size: small; font-weight: 400;">/Person</span>
                    </div>
                    <button class="bottom-btn">
                        <i class="bi bi-heart-fill" style="color: rgb(245, 169, 169); position: relative; left: -100px; font-size: larger; cursor: pointer;"></i>
                        View Deal
                    </button>
                </div>
            </div>
        </div>
    </div>

        <div class="card-body">
        <div class="body-item">
            <img class="item" src='../../assets/images/crete.png' alt="Random image" style="width: 400px; height: 400px;">
            <div class="item__h4">
                <h3>
                    Athens Mykonos Santorini Crete Package
                </h3>
                <p style="color:grey; font-size: large;">
                    Crete (3N) > Santorini (3N)
                </p>
                <div class="cards">
                    <p class="cards__item">Leisure</p>
                    <p class="cards__item">Attraction</p>
                </div>
                <ul style="margin-top: 15px; color: rgb(65, 64, 64); font-size: large;">
                    <li>Visit Santorini Arts Factory</li>
                    <li>Visit Museum of Prehistoric Thera</li>
                    <li>Visit Black Beach</li>
                </ul>
            </div>
            <div class="item third-pane">
                <div class="item__h3">
                    <h6>
                        INCLUSIONS (CUSTOMISABLE)
                    </h6>
                    <ul>
                        <li>
                            <i class="bi bi-check" style="color:green;font-size: 20px;"></i>
                            Hotels</li>
                        <li>
                            <i class="bi bi-check" style="color:green;font-size: 20px;"></i>
                            6 activities</li>
                        <li>
                            <i class="bi bi-check" style="color:green;font-size: 20px;"></i>
                            Flights</li>
                        <li>
                            <i class="bi bi-x" style="color:red;font-size: 20px;"></i>
                            <!-- <i class="bi bi-check" style="color:green;font-size: 20px;"></i> -->
                            Transfers</li>
                    </ul>
                    <div class="bttm">
                        <h3 style="color: grey; font-weight: 700; font-size: medium;">Starts From</h3>
                        <i class="bi bi-currency-rupee" style="font-size: 20px;"></i>
                        <span style="font-size:20px;">81,568</span>
                        <span style="color: gray; font-size: small; font-weight: 400;">/Person</span>
                    </div>
                    <button class="bottom-btn">
                        <i class="bi bi-heart-fill" style="color: rgb(245, 169, 169); position: relative; left: -100px; font-size: larger; cursor: pointer;"></i>
                        View Deal
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>