<app-navbar></app-navbar>

<div class="h-100" style="margin: 50px;">
    <!-- <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">LOCATION</th>
                    <th scope="col">DATE</th>
                    <th scope="col">DAYS</th>
                    <th scope="col">BUDGET</th>
                    <th scope="col">CART</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listItem; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ item.location }}</td>
                    <td>{{item.month}}</td>
                    <td>{{ item.days }}</td>
                    <td>{{ item.budget }}</td>
                    <td><button type="button" class="btn btn-info" style="cursor:pointer;">Add to Cart</button></td>
                </tr>
            </tbody>
        </table>
    </div> -->    
    <div class="card-body">
        <div class="body-item">
            <img class="item" src='../../assets/images/santorini.png' alt="Random image" style="width: 400px; height: 330px;">
            <div class="item__h4">
                <h4>
                    Athens and Santorini Vacation Packages
                </h4>
                <p>
                    Athens (3N) > Santorini (3N)
                </p>
                <div class="cards">
                    <p class="cards__item">Leisure</p>
                    <p class="cards__item">Attraction</p>
                </div>
                <ul style="margin-top: 15px; color: grey;">
                    <li>Visit Plaka - oldest sections of Athens</li>
                    <li>Acropolis museum</li>
                    <li>Greek Wine and Tapas Tasting Experience in Athens</li>
                </ul>
            </div>
            <div class="item third-pane">
                <div class="item__h3">
                    <h6>
                        INCLUSIONS (CUSTOMISABLE)
                    </h6>
                    <ul>
                        <li>
                            <i class="bi bi-check" style="color:green;font-size: 20px;"></i>
                            Hotels</li>
                        <li>
                            <i class="bi bi-check" style="color:green;font-size: 20px;"></i>
                            8 activities</li>
                        <li>
                            <i class="bi bi-check" style="color:green;font-size: 20px;"></i>
                            Flights</li>
                        <li>
                            <i class="bi bi-check" style="color:green;font-size: 20px;"></i>
                            Transfers</li>
                    </ul>
                    <div class="bttm">
                        <h4>Starts From</h4>
                        <i class="bi bi-currency-rupee" style="font-size: 20px;"></i>
                        <span style="font-size:20px;">98,468</span>
                        <span style="color: gray; font-size: small;">/person</span>
                    </div>
                    <button class="bottom-btn">
                        View Deal
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="body-item">
            <img class="item" src='../../assets/images/maldives.png' alt="Random image" style="width: 400px; height: 330px;">
            <p class="item">
                adjflkdhl
                asdjfllh
            </p>
            <div class="item">
                <p>ahdufiuawhfiuo
                    ahsiufhewaihfiou
                    hsdifhiadhfiou
                </p>
            </div>
        </div>
    </div>
    <div class="card-body">
                <div class="body-item">
            <img class="item" src='../../assets/images/maldives.png' alt="Random image" style="width: 400px; height: 330px;">
            <p class="item">
                adjflkdhl
                asdjfllh
            </p>
            <div class="item">
                <p>ahdufiuawhfiuo
                    ahsiufhewaihfiou
                    hsdifhiadhfiou
                </p>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-danger" style="width: 100px; position: relative; top: -20px;" (click)="cancel()">Cancel</button>
</div>
