<app-navbar></app-navbar>

<div class="h-100" style="margin: 50px;"> 
    <h2 class="h2-title">Most popular locations in <span style="color: rgb(49, 45, 45); font-size: larger;">{{ name }}!</span></h2>
    <div class="card-body">
        <div class="body-items" *ngFor="let item of packageInfo; let i=index">
            <img class="body-items__item__image" [src]="'../../assets/images/'+item.image" alt="Random image">
            <div class="body-items__item">
                <div class="body-items__item__middle-pane">
                    <h3>
                        {{ item.name }}
                    </h3>
                    <p style="color:grey; font-size: large;">
                        {{ item.stay }}
                    </p>
                    <div class="cards">
                        <span *ngFor="let offer of item.offerings">
                            <p class="cards__item">{{ offer }}</p>
                        </span>
                    </div>
                    <ul class="activities">
                        <span *ngFor="let act of item.activities">
                            <li>{{ act }}</li>
                        </span>
                    </ul>
                </div>
            </div>
            <div class="body-items__item__third-pane">
                <div class="item_h3">
                    <h6>
                        INCLUSIONS (CUSTOMISABLE)
                    </h6>
                    <ul>
                        <li *ngFor="let incl of item.inclusions">
                            <i [class]="'bi bi-'+incl.status" style="color:green;font-size: 20px;"></i>
                            {{ incl.act }}
                        </li>
                    </ul>
                    <div class="bttm">
                        <h3 style="color: grey; font-weight: 700; font-size: medium;">Starts From</h3>
                        <i class="bi bi-currency-rupee" style="font-size: 25px;"></i>
                        <span style="font-size:30px;">{{ item.price }}</span>
                        <span style="color: gray; font-size: small; font-weight: 400;">/Person</span>
                    </div>

                    <button class="bottom-btn">
                        <i class="bi bi-heart" [id]="i" (click)="openModal(item.id, i, template)" style="color: red; position: relative; left: 220px; font-size: larger; cursor: pointer;"></i>
                        View Deal
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-danger" style="width: 150px; height: 40px; margin-bottom: 30px;" (click)="cancel()">Cancel</button>
</div>

<ng-template #template>
    <div class="custom modal-body text-center p-3 bg-success text-white rounded">
        <h5 class="pt-2">How much did you like this?</h5>
        <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
    </div>
</ng-template>