*{
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h2-title{
    margin-bottom: 25px;
    color: grey;
}
.card-body {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.body-items {
    display: flex;
    column-gap: 10px;
    border: 1px solid rgb(236, 232, 232);
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;

    &__item {
        flex: 1;

        &__image{
            width: 400px;
            height: 400px;
        }
        &__middle-pane {
            flex:2;
            margin-top: 30px;
            margin-left: 20px;

            .activities {
                margin-top: 15px;
                margin-left: 20px;
                color: rgb(65, 64, 64);
                font-size: large;
            }

            .cards {
                margin-top: 10px;
                color: gray;
                display: flex;
                column-gap: 1em;
                &__item {
                    border: 1px solid gray;
                    padding: 5px;
                    border-radius: 20px;
                    align-content: center;
                }
            }
        }
        
        &__third-pane {
            flex: 1;
            color: gray;
            background-color: #F5F9F5;

            ul {
                margin-top: 5px;
                list-style-type: none;
            }

            .bttm{
                color: #000;
                margin-top: 50px;
                font-weight: bolder;
            }

            .bottom-btn {
                color: #fff;
                font-weight: 800;
                font-size: large;
                background-color: rgb(0, 198, 132);
                padding: 10px 70px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            .item_h3 {
                position: relative;
                top: 30px;
                font-weight: 400;
                left: 70px;
            }
        }

    }
}

.body-items:hover {
    box-shadow: 4px 3px 10px #00000029;
    border-radius: 10px;
}

ngb-rating {
  font-size: 50px;
  color:brown;
}