*{
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h2-one {
    position: absolute;
    top:130px;
    right: 755px;
    // margin-bottom: 20px;
    padding: 5px;
    color: #000237;
}

.search-container {
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;    
    overflow: hidden;
    
    .input-field {
        width: 80vh;
        height: 50px;
        border-radius: 30px;
        background-color: #b6b6b6;
        border: 1px solid black;
        padding-left: 20px;
    }

    .search {
        position: relative;
        left: -50px;
        height: 50px;
        width: 50px;
        border-radius: 30px;
        font-size: smaller;
        font-weight: 500;
        background-color: #E7E8E7;
    }
}


.img-container {
    // display: flex;
    margin: 50px;

    .h2-one {
        font-size: xx-large;
        font-weight: 900;
        margin-bottom: 30px;
    }

    h3 {
        font-weight: 100;
        margin-bottom: 10px;
        color: grey;
        font-size: x-large;
        // text-transform: uppercase;
    }

    .flex-items {
        display: flex;
        column-gap: 30px;        

        .image {
            border-radius: 20px;
            overflow: hidden;
        }
    }
}


// .deals-container {
//     margin: 50px;
//     background-color: #fff;
//     height: 300px;
//     border-radius: 30px;
//     padding: 20px;
//     position: relative;
//     bottom: 30px;

//     h3 {
//         font-weight: bolder;
//     }

//     p {
//         margin-top: 10px;
//         font-size: large;
//         color: grey;
//     }

//     .deals-card {
//         margin-top: 10px;
//         height: 100px;
//         display: flex;
//         justify-content: space-between;
//         width: 500px;
//     }
// }