<app-navbar></app-navbar>

<div style="background-color: #F4FDF9; height: 100%;" >
<div style="background-image: url('../../assets/images/map3.png');width: 90%;margin: 0 auto;">

    <h2 class="h2-one">
        <b style="font-size:larger;">Hey, JOHN DOE</b>!
    </h2>
    <div class="search-container">
        <input type="text" class="input-field" name="x" id="search" [(ngModel)]="searchString" placeholder="Where would you like to go?">
        <button class="search" (click)="search()">Search</button>
    </div>
</div>

<div class="cards">
    <span class="something" *ngFor="let card of cards">
        <div class="cards__item">
            <p>{{ card.title }}</p>
            <p style="margin-left: 30px;">{{ card.value }}</p>
        </div>
    </span>
</div>

<div class="img-container">    
    <h3>
         Specially Crafted Packages for <b style="font-size:larger;">YOU!</b>
    </h3>
    <div class="flex-items">
        <span *ngFor="let item of nameList">
        <img class="image" [src]="'../../assets/images/'+item.image" alt="Random image" (click)="navigate(item.name)" style="width: 326px; height: 400px; cursor: pointer;">
        </span>
    </div>
</div>

<div class="img-container">
    <h3>
        Top Trending Locations of the Season.
    </h3>
    <div class="flex-items">    
        <span *ngFor="let item of trendingList">
        <img class="image" [src]="'../../assets/images/'+item.image" alt="Random image" (click)="navigate(item.name)" style="width: 326px; height: 400px; cursor: pointer;">
        </span>    
        <!-- <img class="image" src='../../assets/images/maldives.png' alt="Random image" style="width: 326px; height: 400px; cursor: pointer;">        
        <img class="image" src='../../assets/images/vietnanm.png' alt="Random image" style="width: 326px; height: 400px; cursor: pointer;">
        <img class="image" src='../../assets/images/Thailand.png' alt="Random image" style="width: 324px; height: 400px; cursor: pointer;">
        <img class="image" src='../../assets/images/Bali.png' alt="Random image" style="width: 324px; height: 400px;"> -->
    </div>
</div>
<!-- <div class="deals-container">
    <h3>
         BEST DEALS
    </h3>
    <p>Best deals of the season.</p>
    <div class="deals-card">
        <img class="image" src='../../assets/images/maldives.png' alt="Random image" style="width: 100px; height: 98px; cursor: pointer; border-radius: 10px;">
        <div style="flex: 2; margin-left:30px">
            <p>Redwood Forest</p>
            <i class="bi bi-geo-alt-fill"></i>
            <span style="font-size: large; margin-left: 5px;">California</span>
        </div>
        <div style="margin-top: 20px">
            <i class="bi bi-currency-rupee" style="font-size: 20px;"></i>
            <span style="font-weight: 500; font-size:larger;">5000</span>
        </div>
    </div>

</div>
<div class="deals-container">
    <h3>
         BEST DEALS
    </h3>
    <p>Best deals of the season.</p>
    <div class="deals-card">
        <img class="image" src='../../assets/images/maldives.png' alt="Random image" style="width: 100px; height: 98px; cursor: pointer; border-radius: 10px;">
        <div style="flex: 2; margin-left:30px">
            <p>Redwood Forest</p>
            <i class="bi bi-geo-alt-fill"></i>
            <span style="font-size: large; margin-left: 5px;">California</span>
        </div>
        <div style="margin-top: 20px">
            <i class="bi bi-currency-rupee" style="font-size: 20px;"></i>
            <span style="font-weight: 500; font-size:larger;">5000</span>
        </div>
    </div>
</div>
</div> -->