<app-navbar></app-navbar>
<div style="background-image: url('../../assets/images/map3.png');width: 90%;margin: 0 auto;">

    <!-- <div class="d-flex w-100 justify-content-center">
      <button type="button" class="btn btn-secondary m-2">Personal</button>
      <button type="button" class="btn btn-secondary m-2">Business</button>
    </div> -->

<div class="search-container">    
    <input type="text" class="input-field" name="x" id="search" [(ngModel)]="searchString" placeholder="Where would you like to go?">
    <button class="search" (click)="search()">Search</button>
  </div>
</div>

<div class="img-container">
    <h2 class="h2-one">
        Specially Crafted for <b>YOU!</b>.
    </h2>
    <div class="flex-items">        
        <img class="image" src='../../assets/images/maldives.png' alt="Random image" style="width: 326px; height: 400px;">        
        <img class="image" src='../../assets/images/vietnanm.png' alt="Random image" style="width: 326px; height: 400px;">
        <img class="image" src='../../assets/images/Thailand.png' alt="Random image" style="width: 324px; height: 400px;">
        <img class="image" src='../../assets/images/Bali.png' alt="Random image" style="width: 324px; height: 400px;">
    </div>
</div>

<div class="img-container">
    <h2 class="h2-one">
        Europe and Oceania.
    </h2>
    <div class="flex-items">        
        <img class="image" src='../../assets/images/aus1.png' alt="Random image" style="width: 326px; height: 400px;">        
        <img class="image" src='../../assets/images/aus2.png' alt="Random image" style="width: 326px; height: 400px;">
        <img class="image" src='../../assets/images/aus3.png' alt="Random image" style="width: 324px; height: 400px;">
        <img class="image" src='../../assets/images/aus4.png' alt="Random image" style="width: 324px; height: 400px;">
    </div>
</div>

<!-- 
<div style="margin:10px;">
    <div class="roww">
        <h1>Budget Friendly Packages</h1>
    </div>
    <div class="row">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="wrapper">
                    <img class="image" src='../../assets/images/cr-1.jpg' alt="Random slide">
                    </div>
                    <div class="carousel-caption">
                    <h3>First Slide</h3>
                    <p> Angular 13 Carousel Example </p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="wrapper">
                    <img class="image" src="../../assets/images/cr-2.jpg" alt="Random second slide">
                    </div>
                    <div class="carousel-caption">
                    <h3>Second Slide</h3>
                    <p> Check out Techiediaries</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        
        </div>
        <div style="margin:10px;">
    <div class="roww">
        <h1>Places similar to your last visit.</h1>
    </div>
        <div class="row">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="carousel-caption">
                        <h3>First Slide</h3>
                        <p> Angular 13 Carousel Example </p>
                    </div>
                    <div class="wrapper">
                        <img class="image" src='../../assets/images/cr-3.jpg' alt="Random slide">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="carousel-caption">
                        <h3>Second Slide</h3>
                        <p> Check out Techiediaries</p>
                    </div>
                    <div class="wrapper">
                        <img class="image" src="../../assets/images/cr-4.jpg" alt="Random second slide">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div style="margin:10px;">

    <div class="roww">
        <h1>Ever green destinations.</h1>
    </div> -->
