*{
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h2-one {
    position: absolute;
    top:130px;
    right: 660px;
    // margin-bottom: 20px;
    padding: 5px;
    color: #000237;
}

.search-container {
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;    
    overflow: hidden;
    // width: 80%;
    
    .input-field {
        width: 100vh;
        height: 50px;
        border-radius: 30px;
        background-color: #fff;
        border: 3px solid #000;
        padding-left: 20px;
    }

    .search {
        position: relative;
        left: -50px;
        height: 50px;
        width: 50px;
        border-radius: 30px;
        font-size: smaller;
        font-weight: 500;
        background-color: #fff;
        border: 3px solid #000;
        color: grey;
    }
}


.img-container {
    // display: flex;
    margin: 30px 50px;

    .h2-one {
        font-size: xx-large;
        font-weight: 900;
        margin-bottom: 30px;
    }

    h3 {
        font-weight: 100;
        margin-bottom: 10px;
        color: grey;
        font-size: x-large;
        // text-transform: uppercase;
    }

    .flex-items {
        display: flex;
        column-gap: 30px;        

        .image {
            border-radius: 20px;
            overflow: hidden;
        }
    }
}

.cards{
    margin-top: 40px;
    display: flex;
    column-gap: 20px;
    flex: 1;
    justify-content: space-evenly;

    &__item {
        flex: 1;
        height: 120px;
        background-color: #A5D8F9;        
        padding: 40px 80px;
        border-radius: 10px;
        border: 1px solid rgb(233, 230, 230);
        text-transform: uppercase;
    }
    .something{
        color: rgb(56, 56, 81);
        font-weight: 900;
        font-size: 18px;
        box-shadow: 4px 3px 12px #00000029;
        border-radius: 10px;
    }

    .something:hover{
        box-shadow: 10px 10px 12px #00000029;
        border-radius: 10px;
        color: #000;
        font-size: large;
        cursor: pointer;
    }
}

// .deals-container {
//     margin: 50px;
//     background-color: #fff;
//     height: 300px;
//     border-radius: 30px;
//     padding: 20px;
//     position: relative;
//     bottom: 30px;

//     h3 {
//         font-weight: bolder;
//     }

//     p {
//         margin-top: 10px;
//         font-size: large;
//         color: grey;
//     }

//     .deals-card {
//         margin-top: 10px;
//         height: 100px;
//         display: flex;
//         justify-content: space-between;
//         width: 500px;
//     }
// }