<app-navbar></app-navbar>
<div style="background-image: url('../../assets/images/map3.png'); height: 540px;">
    <div class="hotel-container">
        <div class="item">
            <i class="bi bi-geo-alt-fill" style="position: absolute; right: 75rem; top: 225px"></i>
            <input type="text" placeholder="Enter a destination" [(ngModel)]="destination" class="pickup">
        </div>

        <div class="date-container">
            <i class="bi bi-box-arrow-in-right" style="position: absolute; top: 294px; left: 300px; font-size: large;" ></i>
            <input class="check-in-out" type="text" placeholder="Check-in" [(ngModel)]="checkin" onfocus="(this.type='date')"/>

            <div style="border: 1px solid #b6b6b6; width: 215px; background-color: #fff; border-radius: 10px; padding: 10px; color: grey;">
                <label for="night">Nights</label>
                <select style="border: none; background-color: inherit;">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>

            <!-- <i class="bi bi-box-arrow-in-left"></i> -->
            <i class="bi bi-box-arrow-in-left" style="position: absolute; top: 294px; right: 720px; font-size: large;" ></i>
            <input class="check-in-out" type="text" placeholder="Check-out" [(ngModel)]="checkout" onfocus="(this.type='date')"/>

            <div style="border: 1px solid #b6b6b6; width: 215px; background-color: #fff; border-radius: 10px; padding: 10px; color: grey;">
                <label for="Adults" style="position:relative;">Adults</label>
                <select style="border: none; background-color: inherit;">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
    </div>

    <div>
        <button class="search-btn" (click)="search()">Search</button>
    </div>
</div>

<div *ngIf="status">
        <div class="heading">
            <h4>Showing the best hotels</h4>
            <p>Price per passenger includes tax and fees</p>
        </div>

        <div class="f-container">
            <div class="f-container__flights">
                <div class="f-container__flights--flight">
                    <img src="../../assets/images/hotel-1.png" alt="hotel-1" style="width: 250px; height: 150px; border-radius: 10px 0px 0px 10px;">
                </div>

                <div style="display: flex; flex-direction: column; position:absolute; top: 50px; left: 380px;">
                    <h5>
                        Hilton Garden New Wing
                    </h5>
                    <div style="display: inline-flex; column-gap: 10px; margin-top: 10px;">
                        <p style="border: 1px solid grey; border-radius: 10px; padding: 3px 5px;">Breakfast</p>
                        <p style="border: 1px solid grey; border-radius: 10px; padding: 3px 5px;">Free WiFi</p>
                        <p style="border: 1px solid grey; border-radius: 10px; padding: 3px 5px;">Convenience store</p>
                    </div>

                    <div style="position: absolute; left: 400px;">
                            <p>Rs. <span style="font-weight: 700; font-size: larger">58,506</span></p>
                            <button style="padding: 10px 40px; border-radius: 5px; border: none; background-color: rgb(49, 160, 224); font-weight: 500; color: #fff; margin-top: 10px;">SELECT</button>
                        </div>
                </div>

                <div class="f-container__flights--flight">
                    <img src="../../assets/images/hotel-2.png" alt="hotel-1" style="width: 250px; height: 150px; border-radius: 10px 0px 0px 10px;">
                </div>

                <div style="display: flex; flex-direction: column; position:absolute; top: 220px; left: 380px;">
                    <h5>
                        Cabana El Condor - Complejo El Taller
                    </h5>
                    <div style="display: inline-flex; column-gap: 10px; margin-top: 10px;">
                        <p style="border: 1px solid grey; border-radius: 10px; padding: 3px 5px;">Breakfast</p>
                        <p style="border: 1px solid grey; border-radius: 10px; padding: 3px 5px;">Free WiFi</p>
                        <p style="border: 1px solid grey; border-radius: 10px; padding: 3px 5px;">Free Parking</p>
                    </div>

                    <div style="position: absolute; left: 400px;">
                            <p>Rs. <span style="font-weight: 700; font-size: larger">46,068</span></p>
                            <button style="padding: 10px 40px; border-radius: 5px; border: none; background-color: rgb(49, 160, 224); font-weight: 500; color: #fff; margin-top: 10px;">SELECT</button>
                        </div>
                </div>

                <div class="f-container__flights--flight">
                    <img src="../../assets/images/hotel-3.png" alt="hotel-1" style="width: 250px; height: 150px; border-radius: 10px 0px 0px 10px;">
                </div>

                <div style="display: flex; flex-direction: column; position:absolute; top: 400px; left: 380px;">
                    <h5>
                        Fairmont Banff Springs
                    </h5>
                    <div style="display: inline-flex; column-gap: 10px; margin-top: 10px;">
                        <p style="border: 1px solid grey; border-radius: 10px; padding: 3px 5px;">Free WiFi</p>
                        <p style="border: 1px solid grey; border-radius: 10px; padding: 3px 5px;">Parking</p>
                        <p style="border: 1px solid grey; border-radius: 10px; padding: 3px 5px;">Breakfast</p>
                    </div>

                    <div style="position: absolute; left: 400px;">
                            <p>Rs. <span style="font-weight: 700; font-size: larger">51,762</span></p>
                            <button (click)="UpdateText()" id="btn-3" style="padding: 10px 40px; border-radius: 5px; border: none; background-color: rgb(49, 160, 224); font-weight: 500; color: #fff; margin-top: 10px;">SELECT</button>
                        </div>
                </div>
            </div>
        </div>
        <div>
            <button class="next-btn" [routerLink]="['/bid']">NEXT</button>
        </div>
    </div>