<app-navbar></app-navbar>
<div style="background-image: url('../../assets/images/map3.png'); height: 540px;">
<h2>Where would you like to stay?</h2>
    <div class="hotel-container">
        <div class="item">
            <i class="bi bi-geo-alt-fill" style="position: absolute; left: 4.5rem; top: 75px"></i>
            <input type="text" placeholder="Enter a destination" [(ngModel)]="destination" class="pickup">
        </div>

        <div class="date-container">
            <div style="position: relative;">
                <i class="bi bi-box-arrow-in-right" style="position: absolute; top: 13px; left: 10px; font-size: large;" ></i>
                <input class="check-in-out" type="text" placeholder="Check-in" [(ngModel)]="checkin" onfocus="(this.type='date')"/>
            </div>

            <div style="border: 1px solid #b6b6b6; width: 215px; background-color: #fff; border-radius: 10px; padding: 10px; color: grey;">
                <label for="night">Nights</label>
                <select style="border: none; background-color: inherit;">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            
            <div style="position: relative;">
                <i class="bi bi-box-arrow-in-left" style="position: absolute; top: 15px; left: 10px; font-size: large;" ></i>
                <input class="check-in-out" type="text" placeholder="Check-out" [(ngModel)]="checkout" onfocus="(this.type='date')"/>
            </div>

            <div style="border: 1px solid #b6b6b6; width: 215px; background-color: #fff; border-radius: 10px; padding: 10px; color: grey;">
                <label for="Adults" style="position:relative;">Adults</label>
                <select style="border: none; background-color: inherit;">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
    </div>

    <div>
        <button class="search-btn" (click)="search()">Search HOTELS</button>
    </div>
</div>

<div *ngIf="status" class="dynamic-content">
    <div class="dynamic-content__one">
        <div class="heading">
            <h4>Showing the best hotels</h4>
            <p>Price per person includes tax and fees</p>
        </div>

        <div class="f-container">            
            <div  class="f-container__flights" *ngFor="let hotel of hotelList; let i=index">
                <div class="f-container__flights--item--image">
                    <img [src]="'../../assets/images/'+hotel.image" alt="hotel-1" style="width: 150px; height: 100px; border-radius: 10px 0px 0px 10px;">
                </div>

                <div class="f-container__flights--item--middle-pane">
                    <h5>
                        {{ hotel.name }}
                    </h5>
                    <div style="display: inline-flex; column-gap: 5px; margin-top: 10px;" class="offering">
                    <span *ngFor="let x of hotel.offering">
                        <p style="border: 1px solid rgb(206, 204, 204); border-radius: 10px; color: grey; padding: 3px 5px;">{{ x }}</p>
                    </span>
                    </div>
                </div>

                <div class="f-container__flights--item--last-pane">
                        <p>Rs. <span style="font-weight: 700; font-size: larger">{{ hotel.price }}</span></p>
                        <button [id]="i" (click)="UpdateText(i)" style="padding: 10px 40px; border-radius: 5px; border: none; background-color: rgb(49, 160, 224); font-weight: 500; color: #fff; margin-top: 10px;">SELECT</button>
                </div>
            </div>
        </div>
    </div>

    <div class="dynamic-content__two">
        <img src="../../assets/images/map.png" alt="map">
    </div>
    <div style="position: relative;">
        <button class="next-btn" [routerLink]="['/experiences']">DONE</button>
    </div>
    <div style="position:relative; top:20px">
        <h1 style="position: absolute;top:450px; color: #fff;">''</h1>
    </div>
</div>