<nav class="flex-container">
    <div class="flex-items">
        LOGO
    </div>
    <ul class="flex-items">
        <li class="anchors" [routerLink]="['/flights']" routerLinkActive="active-link">FLIGHTS</li>
        <li class="anchors" [routerLink]="['/hotels']" routerLinkActive="active-link">HOTELS</li>
        <!-- <li class="anchors" [routerLink]="['/taxi']" routerLinkActive="active-link" >TAXI</li> -->
        <li class="anchors">EXPERIENCES</li>
        <li class="anchors" [routerLink]="['/bid']" routerLinkActive="active-link">MY BID</li>
        <li class="anchors" [routerLink]="['/my-booking']" routerLinkActive="active-link">WISHLIST</li>
    </ul>
</nav>