<nav class="flex-container">
    <div class="flex-items">
        iFLY
    </div>
    <ul class="flex-items">
        <li class="anchors" routerLinkActive="active" [routerLink]="['/flights']">FLIGHTS</li>
        <li class="anchors" routerLinkActive="active" [routerLink]="['/hotels']">HOTELS</li>
        <li class="anchors" routerLinkActive="active" [routerLink]="['/test']">EXPERIENCES</li>
        <li class="anchors" routerLinkActive="active"  [routerLink]="['/bid']">MY BID</li>
        <li class="anchors" routerLinkActive="active" [routerLink]="['/my-booking']">WISHLIST</li>
    </ul>
</nav>