*{
    margin: 0;
    padding: 0;
}

.flex-container {
    font-size: large;
    font-weight: bolder;
    padding: 20px;
    height: 90px;
    display: flex;
    background-color: #000;
    justify-content: space-between;
    align-items: center;

    .flex-items {
        display: block;
        color: #fff;

        .anchors {
            margin: 20px;
            display: inline-block;
            cursor: pointer;
        }
    }
}