<app-navbar></app-navbar>
<div style="background-image: url('../../assets/images/map3.png'); height: 540px;">
<div class="hotel-container">
    <div class="item">
        <i class="bi bi-airplane-engines" style="position: absolute; right: 75rem; top: 225px"></i>
        <input type="text" placeholder="PNR/Booking" class="pickup" style="width: 300px;">

        <i class="bi bi-person" style="position: absolute; left: 38.5rem; top: 225px"></i>
        <input type="text" placeholder="Name" class="pickup" style="width: 300px;">

        <i class="bi bi-arrow-up-circle" style="position: absolute; left: 58.5rem; top: 225px"></i>
        <input type="text" placeholder="Upgrade" class="pickup" style="width: 300px;">
    </div>

    <div class="item">        
        <input type="text" placeholder="Min Bid" class="pickup" style="width: 460px; position: absolute; top: 240px; left: 280px;">
        <i class="bi bi-plus-slash-minus" style="position: absolute; top: 313px; left: 295px; font-size: large;" ></i>

        <input type="text" placeholder="Max Bid" class="pickup" style="width: 460px; position: absolute; top: 240px; right: 295px;">
        <i class="bi bi-plus-slash-minus" style="position: absolute; top: 312px; right: 725px; font-size: large;"></i>
        

            <!-- <label for="Adults" style="position:relative;">Adults</label>
            <select style="border: none; background-color: inherit;">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select> -->
        <!-- </div> -->
    </div>
</div>

<div>
    <button class="search-btn">Submit</button>
</div>
</div>