<app-navbar></app-navbar>
<div style="background-color: #fff; height: 100%;">
<div style="background-image: url('../../assets/images/map3.png'); height: 540px;">
<h2>Where would you like to go?</h2>
    <div class="hotel-container">
        <div class="item">
            <div style="position: relative;">
                <i class="bi bi-airplane-engines" style="position: absolute; left: 1rem; top:75px"></i>
                <input type="text" placeholder="Flying from" class="pickup" [(ngModel)]="from" style="width: 460px;">
            </div>
            <div style="position: relative;">
                <i class="bi bi-geo-alt-fill" style="position: absolute; left: 1rem; top: 75px; color: grey;"></i>
                <input type="text" placeholder="Flying to" class="pickup" [(ngModel)]="to" style="width: 460px;">
            </div>
        </div>

        <div class="item">
            <div style="position: relative;">
                <input type="text" placeholder="Departure" class="pickup" onfocus="(this.type='date')" [(ngModel)]="departure" style="width: 460px; position: absolute; right: 0px; top: -40px;">
                <i class="bi bi-box-arrow-in-right" style="position: absolute; top: 35px; right: 440px; font-size: large;" ></i>
            </div>

            <div style="position: relative;">
                <div style="border: 1px solid #b6b6b6; background-color: #fff; border-radius: 10px; padding: 10px 10px 10px 35px; color: grey; width: 460px;  position: absolute; top: 22px; left: 5px;">
                <i class="bi bi-people-fill" style="position: absolute; top: 9px; right: 430px; font-size: large;"></i>

                    <label for="Adults" style="position:relative;">Adults</label>
                    <select style="border: none; background-color: inherit;">
                        <option value=""></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div style="position: relative;">
        <button id="btn-save" (click)="changeText('btn-save')" style="position:absolute; background-color: rgb(49, 160, 224); border-radius: 5px; color:#fff; border: none; padding: 3px 8px; right: 290px; top: -70px;">SAVE</button>
    </div>

    <div>
        <button class="search-btn" (click)="search()">Search Flights</button>
    </div>
    </div>

    <div *ngIf="status">
        <div class="heading">
            <h4>Showing fights from BLR to CDG</h4>
            <p>Price per passenger includes tax and fees</p>
        </div>

        <div class="f-container">
            <div class="f-container__flights">
                <div class="f-container__flights--flight" *ngFor="let flight of flights; let i=index">
                    <div style="position: relative;">
                        <i class="bi bi-airplane-engines" style="position: absolute; left: 5rem; top: 25px; font-size: xx-large; color: rgb(67, 67, 67);"></i>
                        <h5 style="position: absolute; left:130px; top: 40px; color: rgb(67, 67, 67);">{{ flight.flightNo }}</h5>
                    </div>
                    <div style="display: flex; column-gap: 20px; position: relative; left: 280px; top: 30px;">
                        <h4>{{ flight.startTime }} </h4>
                        <p style="position: absolute; top: 25px; left: 15px; color: grey;">{{ flight.source }}</p>
                        <div style="margin-top:6px; color: grey;">-------------------></div>
                        <h4>{{ flight.endTime }}</h4>
                        <p style="position: absolute; top: 25px; left: 235px; color: grey;">CDG</p>
                        
                        <div style="position: relative; left: 60px;">
                            <h6 style="color: grey;">Load factor</h6>
                            <span style="margin-left: 30px; font-weight: 800; font-size: large;">{{ flight.loadFactor }}</span>
                        </div>
                        <div style="position: relative; left: 120px;">
                            <h6 style="color: grey;">Probability</h6>
                            <span [ngStyle]="flight.color" style="color: #fff;padding: 3px;margin-left: 22px; font-weight: 400; font-size: medium; border-radius: 10px;">{{ flight.probability }}</span>
                        </div>

                        <div style="position: absolute; top :-23px; right: 340px;">
                            <p>Rs. <span style="font-weight: 700; font-size: large">{{ flight.price }}</span></p>
                            <p style="color: grey;">Average price per passenger</p>
                            <button [id]="i" (click)="UpdateText(i)" style="padding: 5px 30px; border-radius: 5px; border: none; background-color: rgb(49, 160, 224); color: #fff;">SELECT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position:relative; margin-bottom: 20px;">
            <button class="next-btn-done" [routerLink]="['/experiences']">DONE</button>
            <button class="next-btn" [routerLink]="['/hotels']">NEXT</button>
        </div>
    </div>
</div>