*{
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.fl-container {
    width: 80%;
    background-color: #EFF3F2;
    border-radius: 20px;
    padding: 8px 10px;
    &__flights {
        display: flex;
        padding: 10px;
        flex-direction: column;
        row-gap: 5px;
        &--flight{            
            height: 100px;
            width: 95%;  
            margin-left: 25px;
            margin-top: 10px;
            background-color: #fff;
            border-radius: 10px;

            h4{    
                font-size: x-large;            
            }
        }
    }
}


.f-container {
    top: 640px;
    width: 80%;
    background-color: #EFF3F2;
    border-radius: 20px;
    padding: 20px;
    &__flights {
        border-radius: 10px;
        background-color: #fff;
        margin-bottom: 10px;
        display: flex;
        padding: 10px;        
        row-gap: 10px;
        column-gap: 30px;
        flex: 1;

        &--item {
            flex: 1;
            &--image{
                flex: 1;
            }
            &--middle-pane {
                flex: 2;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
            &--last-pane{
                flex: 1;
                margin-top: 50px;
            }
        }
    }
}